{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/pos.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form id="create_user" method="POST" novalidate>
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                <p><div>{{ field.label }}</div><div>{{ field }}</div></p>
                {% endfor %}
                <p><button form="create_user" type="submit" class='btn btn-primary'>Create User</button></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
